<!--
  Generated template for the TambahPetani page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register Alamat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<form #signupForm="ngForm" novalidate>
<ion-list>
			<ion-item no-lines>
				<ion-label fixed>Data alamat</ion-label>
			</ion-item>
      <ion-item>
				<ion-label stacked color="primary">Nama Alamat</ion-label>
				<ion-input [(ngModel)]="lokasi.address_name" placeholder="Nama Alamat" name="address_name" type="text" #address_name="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="address_name.valid || submitted == false" color="danger" padding-left>
				Nama Alamat is required
			</p>
			<ion-item>
				<ion-label stacked color="primary">Pilih provinsi </ion-label>
				<ion-select [(ngModel)]="pilihProvinsi" disabled="!{{provinsi}}" (ionChange)="changeProvinsi(pilihProvinsi)" name="provinsi">
					<ion-option *ngFor="let data of provinsi" value="{{data.id_prov}}">{{data.nama}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Pilih kabupaten </ion-label>
				<ion-select [(ngModel)]="pilihKabupaten" disabled="!{{kabupaten}}" (ionChange)="changeKabupaten(pilihKabupaten)" name="kabupaten">
					<ion-option *ngFor="let data of kabupaten" value="{{data.id_kab}}">{{data.nama}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Pilih kecamatan </ion-label>
				<ion-select [(ngModel)]="pilihKecamatan" disabled="!{{kecamatan}}" (ionChange)="changeKecamatan(pilihKecamatan)" name="kecamatan">
					<ion-option *ngFor="let data of kecamatan" value="{{data.id_kec}}">{{data.nama}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Pilih kelurahan </ion-label>
				<ion-select [(ngModel)]="pilihKelurahan" disabled="!{{kelurahan}}" (ionChange)="changeKelurahan(pilihKelurahan)" name="kelurahan">
					<ion-option *ngFor="let data of kelurahan" value="{{data.id_kel}}">{{data.nama}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Alamat</ion-label>
				<ion-input [(ngModel)]="inputAlamat" placeholder="Alamat" name="alamat" type="text" #alamat="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="alamat.valid || submitted == false" color="danger" padding-left>
				Alamat is required
			</p>
</ion-list>

		<div padding>
			<button ion-button (click)="onSignup(signupForm)" type="submit" block>Daftar</button>
		</div>
	</form>
</ion-content>
